<h1> about <br /> <span class="about-title">lost city</span> </h1>

<section>
  <div class="about-content">
    <h1> Urban Exploration </h1>
    <p>
      Lost City is for adventurers, explorers, and others passionate about documenting abandoned public spaces in Philadelphia. We foster community and collaboration around the idea that there is beauty in the stories told through the rise and fall of our city's architecture and infrastructure.
    </p>
  </div>
  <div class="about-resources">
    <h1> Resources </h1>
    <ul class="resources-list">
      <li><a href="https://hiddencityphila.org/tag/urban-exploring/" target="_blank">Hidden City</a></li>
      <li><a href="http://www.forbidden-places.net/why.php" target="_blank">Forbidden Places</a></li>
      <li><a href="https://streetsdept.com/" target="_blank">Streets Dept</a></li>
    </ul>
  </div>
</section>

<%= link_to "<< back to thread", posts_path %>
