<h1> <span class="about-title">lost city</span><br /> community </h1>
<div> <%= link_to "About", '/static_pages/about', id: "about" %> </div>

<section class="community-usernames-section">
  <% @users.each do |user| %>
    <div class="user-divide">
      <h2> <%= link_to user.user_name, user, class: "display-block" %> </h2>
      <p class="community-bio"> <%= user.bio %> </p>
    </div>
  <% end %>
</section>

<%= link_to "<< back", posts_path %>
