// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Inconsolata', monospace;
  background-color: #1f2021;
  color: #54aac9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #FEFCFC;
}

.lost_city_logo {
  position: fixed;
  top: 3%;
  left: 2%;
  width: 12vw;
  border-radius: 20px;
  border: 3px solid #54aac9;
}

.lost_city_landing {
  border: 5px solid #54aac9;
  border-radius: 30px;
  width: 60vw;
}

.tagline {
  padding: 5px;
  margin: 15px;
  font-size: 20px;
  color: #FEFCFC;
}

.landing-buttons {
  font-size: 30px;
}

.landing-buttons a {
  margin: 0 15px;
}

// .hidden {
//   display: none;
// }

.nav-list {
  list-style-type: none;
}

.nav-list li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #54aac9;
}

a:hover {
  text-decoration: line-through;
}

.posts-wrapper {
  position: absolute;
  left: 45%;
  border-radius: 20px;
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.caption {
  padding: 24px 24px;
  font-size: 20px;
  color: #1f2021;
  line-height: 18px;
}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.form-input {
  padding: 5px;
  margin: 5px;
}

.np_image, .np_caption {
  height: 64px;
  padding: 14px 20px;
  color: #1f2021;
}

// user-strip is the user's nav bar
.user-strip {
  position: fixed;
  top: 24%;
  left: 2%;
  color: #FEFCFC;
  border: 2px solid #FEFCFC;
  text-align: center;
  border-radius: 20px;
  padding: 20px 10px;
  width: 25vw;
}

.user-strip a {
  color: #FEFCFC;
  font-size: 22px;
}

.edit-bio-link a {
  font-size: 0.8em;
}

// sunrise_api data section
.sunrise-strip {
  position: fixed;
  top: 50%;
  left: 2%;
  color: #54aac9;
  border: 2px solid #FEFCFC;
  text-align: center;
  border-radius: 20px;
  padding: 20px 10px;
  width: 25vw;
  overflow: auto;
}

.sunrise-strip a {
  color: #FEFCFC;
  font-size: 22px;
}

.user-bio {
  position: fixed;
  top: 24%;
  left: 2%;
  color: #54aac9;
  border: 2px solid #FEFCFC;
  text-align: center;
  border-radius: 20px;
  padding: 20px 10px;
  width: 25vw;
  overflow: auto;
}

.post {
  border-radius: 3px;
  margin-bottom: 60px;
}

.post-head {
  background-color: #FEFCFC;
  margin-top: 60px;
  flex-direction: row;
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  font-size: 18px;
  line-height: 18px;
  border: 5px double #54aac9;
  .user-name, .time-ago {
    display: inline;
  }
  .user-name {
    color: #54aac9;
    font-weight: 500;
  }
  .time-ago {
    color: #1f2021;
    float: right;
  }
}

.image {
  width: 70vw;
}

.post-foot {
  background-color: #FEFCFC;
  border: 5px double #54aac9;
  .user-name, .comment-content {
    display: inline;
  }
    .caption {
      margin-bottom: 7px;
      border-bottom: 2px solid #54aac9;
    }
    .user-name {
      font-weight: 500;
      margin-right: 0.3em;
      color: #54aac9;
      font-size: 18px;
    }
    .comment-content {
      color: #1f2021;;
    }
    .user-name, .caption-content {
      display: inline;
    }
    #comment {
      margin-top: 7px;
      .user-name {
        font-weight: 500;
        margin-left: 0.3em;
      }
      .delete-comment {
        float: right;
        color: gray;
      }
    }
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    font-size: 15px;
    line-height: 18px;
  }

.comment_content {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  width: 100%;
  color: #1f2021;
}

.comment-form-box {
  background-color: #54aac9;
  color: #FEFCFC;
  width: 350px;
  height: 25px;
  margin-top: 10px;
  border-radius: 10px;
  line-height: 9px;
}

.photo-caption {
  color: #FEFCFC;
}

.edit-form {
  background-color: #FEFCFC;
  border: 3px solid #54aac9;
  border-radius: 20px;
  padding: 5%;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

.sunrise-p {
  text-transform: uppercase;
  font-weight: 900;
}

.date, .time {
  display: inline-block;
}

.date-color, .time-color {
  color: #FEFCFC;
}

.goto-top {
  position: absolute;
  bottom: 0;
}

.user-strip-header {
  display: inline-block;
}

// styles on the lost city community page below

.community-usernames-section {
  margin-top: 5%;
  margin-bottom: 5%;
  min-height: 30vw;
  min-width: 30vw;
  border: 2px solid #FEFCFC;
  text-align: center;
  border-radius: 20px;
  overflow: auto;
}

.display-block {
  display: block;
}

.user-divide {
  border-bottom: 0.5px solid #FEFCFC;
}

.community-bio {
  color: #FEFCFC;
}

// media queries for tablet, mobile sizes

@media screen and (max-width: 480px) {
    body {
      background-color: #FEFCFC;
    }
}
