// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// about page style

.about-title {
  font-size: 2.4em;
}

.about-content {
  max-width: 50vw;
  margin-top: 5%;
  margin-bottom: 5%;
}

.about-content p {
  font-size: 1.6em;
}

.about-resources {
  max-width: 50vw;
  margin-top: 5%;
  margin-bottom: 5%;
}
 .resources-list {
   list-style-type: none;
 }
